$primary-color:#333;
//$font-family:"HacenSaudiArabia";
//$font-name:"Hacen Saudi Arabia";

$font-family:"HelveticaNeueLTArabic";
$font-name:"HelveticaNeueLTArabic-Light_nohint";

$fonts-base-dir:"../../fonts/";